html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: sans, sans-serif;
  font-size: 100%;
  color: black;
}

* {
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
}

.todo-list {
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  textarea {
    width: 100%;
    padding: 5px;

    border: 1px solid lightblue;

    &:focus {
      outline: 1px solid deepskyblue;
    }

    &:first-line,
    &:first-letter {
      font-weight: 900;
      font-size: 1rem;
    }
  }
}

.todo-list-ordered {
  list-style: inside;
}

.error-handler {
  display: none;
  width: 80%;
  min-width: 300px;
  margin: 0 auto 1rem;
  padding: 1rem;

  background: lightcoral;
  border: 1px solid lightgrey;
  border-radius: 5px;

  font-size: 1.2rem;
}

.is-visible {
  display: block;
}
